application: <your appengine id>

version: 1
runtime: python27
api_version:1
threadsafe: yes
default_expiration: "30d"

builtins:
- deferred: on
- appstats: on
- remote_api: on

libraries:
- name: jinja2
  version: "2.6"
- name: markupsafe
  version: "0.15"


# includes:

# error_handlers:
